/* Link Styles */

header > h1 {
    font-family: "Arial";
    font-size: 72px;
    color: black;
    text-align: center;
}

main > h1 {
    font-family: "Arial";
    font-size: 40px;
    color: black;
    text-align: center;
}

main > h2 {
    font-family: "Arial";
    font-size: 24px;
    color: black;
    text-align: center;
}

main > h3 {
    font-family: Arial;
    font-size: 20px;
    color: black;
    text-align: center;
}

main {
    align-items: center;
}

div {
    width: 600px;
    align-self: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20%;
    width: auto;
}

hr {
    width: 300px;
}